.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100px;
    height: 100px;
    display: none;
}
.about-text-template {
    width: 100%;
}
.about-text-template tbody tr > td.image {
    text-align: justify;
}
.about-text-template tbody tr > td.image > img {
    max-width: 45%;
    float: right;
    max-height: 350px;
}
.about-text-template tbody tr > td.image > div {
    text-align: left;
}
form .form-group .img-responsive {
    width: 13em;
    height: auto;
}
.preview-obj img {
    max-height: 200px;
    max-width: 350px;
}
.media-body {
    position: relative;
}
.media-actonbar {
    position: absolute;
    right: 1em;
    bottom: 1em;
}
.list-divider {
    width: 100%;
    height: 1px;
    background-color: #CCCCCC;
}
.media-heading {
    min-height: 50px;
}

.images-grid {
    position: relative;
}
.images-grid img {
    position: absolute;
}

.disabled {
    opacity: .1;
    pointer-events: none;
}

.disabled-selection {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: 0;
}

.description {
    margin-left: 22%;
    margin-right: 22%;
    margin-bottom: 40px;
}
@media (max-width: 1000px) {
    .description {
        margin-left: 10%;
        margin-right: 10%;
    }
}
@media (max-width: 420px) {
    .description {
        margin-left: 5%;
        margin-right: 5%;
    }
}

ul.albums-list {
	list-style: none;
	font-size: 0px;
	margin-left: -15px;
    padding: 0;
}
ul.albums-list li {
	display: inline-block;
	margin: 0 0 15px 15px;
    font-size: 11px;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
    color: #969393;
}
ul.albums-list li img {
	max-width: 100%;
	height: auto;
	margin: 0;
}
ul.albums-list li > div {
    padding: 12px 0 15px 0;
}
/* class for 4 columns */
ul.albums-list li {
	width: 22.5%;
}
ul.albums-list {
    padding-left: 5%;
}
@media (max-width: 1000px) {
    /* class for 3 columns */
    ul.albums-list li {
        width: 30.83%;
    }
    ul.albums-list {
        padding-left: 3%;
    }
}
@media (max-width: 800px) {
    /* class for 2 columns */
    ul.albums-list li {
        width: 45.5%;
    }
    ul.albums-list {
        padding-left: 2%;
    }
}
@media (max-width: 480px) {
	ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	ul.grid-nav li a {
		display: block;
	}
    ul.albums-list {
        margin-left: 0;
        padding-left: 0%;
    }
	ul.albums-list li {
		width: 100%;
		margin: 0 0 20px;
	}
}