.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 100px;
    height: 100px;
    display: none;
}
.about-text-template {
    width: 100%;
}
.about-text-template tbody tr > td.image {
    text-align: justify;
}
.about-text-template tbody tr > td.image > img {
    max-width: 45%;
    float: right;
    max-height: 350px;
}
.about-text-template tbody tr > td.image > div {
    text-align: left;
}
form .form-group .img-responsive {
    width: 13em;
    height: auto;
}
.preview-obj img {
    max-height: 200px;
    max-width: 350px;
}
.media-body {
    position: relative;
}
.media-actonbar {
    position: absolute;
    right: 1em;
    bottom: 1em;
}
.list-divider {
    width: 100%;
    height: 1px;
    background-color: #CCCCCC;
}
.media-heading {
    min-height: 50px;
}


.photos {
   line-height: 3;
   
   -webkit-column-count: 4;
   -webkit-column-gap:   1em;
   -moz-column-count:    4;
   -moz-column-gap:      1em;
   column-count:         4;
   column-gap:           1em;
}

.photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1200px) {
  .photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  .photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  .photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  .photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}