<ul class="albums-list">
	<!--<li>
		<img class="lazy" src="http://static1.gophotoweb.com/u5435/5269/photos/215361/500-9d1d486839230abc65e59dd3bdb36b0c.jpg" />
		<div>Masha & Marat / Greece 2014 (SOON)</div>
	</li>
	<li>
		<img class="lazy" src="http://static1.gophotoweb.com/u5435/5269/photos/215358/500-4266e5fe1c7d91c315e9471f7d0a8ee6.jpg" />
		<div>Masha & Marat / Greece 2014 (SOON)</div>
	</li>
	<li>
		<img class="lazy" src="http://static1.gophotoweb.com/u5435/5269/photos/235707/500-41e043e1189b59e818dd924b890ed2f9.jpg" />
		<div>Masha & Marat / Greece 2014 (SOON)</div>
	</li>
	<li>
		<img class="lazy" src="http://static1.gophotoweb.com/u5435/5269/photos/235722/500-f92360d8ddd6dec246c3ed4f48a09d4b.jpg" />
		<div>Masha & Marat / Greece 2014 (SOON)</div>
	</li>
	<li>
		<img class="lazy" src="http://static1.gophotoweb.com/u5435/5269/photos/235710/500-f885d7d001e18fe822db9d7e0333709a.jpg" />
		<div>Masha & Marat / Greece 2014 (SOON)</div>
	</li>
	<li>
		<img class="lazy" src="http://static1.gophotoweb.com/u5435/5269/photos/314295/500-ad6a742b4ca9c37875cc3f29ee003bb6.jpg" />
		<div>Masha & Marat / Greece 2014 (SOON)</div>
	</li>-->
    <% _.each(data.images, function(image) { %>
	    <li>
		    <img class="lazy" data-original="<%=image.image_url%>" data-id="<%=image.id%>" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" <% if(image.description){ %>alt="<%=image.description%>" <% } %>/>
		    <div>Masha & Marat / Greece 2014 (SOON) <% if(image.description){ %><%=image.description%><% } %></div>
	    </li>
    <% }); %>
</ul>