<div>
    <br />
    &nbsp;
</div>

<% if(data && data.description) { %>
    <div class="description">
        <%=data.description%>
    </div>
<% } %>
<br />

<form method="post" class="form layout-without-calendar contact">
    <div class="message"></div>
    <div class="error"></div>
		
    <div class="columns">
        <div class="first-column">
            <input id="input-name" type="text" placeholder="Name" value="" class="f-text" />
            <input id="input-phone" type="text" placeholder="Phone" value="" class="f-text" />				
            <input id="input-email" type="text" placeholder="Email" value="" class="f-text" />
        </div>                              
			
        <div class="second-column">
            <textarea id="input-message" placeholder="Message" class="f-textarea"></textarea>
        </div>
    </div>
		
    <div class="buttons">
        <input id="send-message" type="button" name="submit" class="button large" value="Send" />
    </div>
	
</form>