<link rel="stylesheet" href="css/user_part_styles.css"/>

<header class="layout-logo-center">
    <div class="container">
        <div class="inner">
            <div class="logo logo-text">
                <a href="#home">
                    <%=$.i18n.t("user.header.title")%>
                </a>
            </div>
            <nav class="menu">
                <ul>
                    <li class="menu-item <% if(tab_name == all_tabs.about) { %>active<% } %>"><a href="#home"><%=$.i18n.t("user.header.about")%></a></li>
                    <li class="menu-item separator">|</li>
                    <li class="menu-item <% if(tab_name == all_tabs.bouquets) { %>active<% } %>"><a href="#bouquets"><%=$.i18n.t("user.header.bukiety")%></a></li>
                    <li class="menu-item separator">|</li>
                    <li class="menu-item"><a href="#home"><%=$.i18n.t("user.header.decorations")%></a></li>
                    <li class="menu-item separator">|</li>
                    <li class="menu-item"><a href="#home"><%=$.i18n.t("user.header.invitations")%></a></li>
                    <li class="menu-item separator">|</li>
                    <li class="menu-item"><a href="#home"><%=$.i18n.t("user.header.graphics")%></a></li>
                    <li class="menu-item separator">|</li>
                    <li class="menu-item"><a href="#home"><%=$.i18n.t("user.header.blog")%></a></li>
                    <li class="menu-item separator">|</li>
                    <li class="menu-item"><a href="#home"><%=$.i18n.t("user.header.contacts")%></a></li>
                    <!--<li class="menu-item active">
                        <a href=""  >ANASTASIA VOLKOVA</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="http://anastasiavolkova.com/faq"  >F.A.Q.</a></li>
                            <li class="menu-item active"><a href="http://anastasiavolkova.com/photoshoots"  >PHOTOSHOOTS</a></li>
                            <li class="menu-item"><a href="http://anastasiavolkova.com/self-portraits"  >SELF PORTRAITS</a></li>
                            <li class="menu-item"><a href="http://anastasiavolkova.com/video"  >VIDEO</a></li>
                            <li class="menu-item"><a href="http://anastasiavolkova.com/film"  >FILM</a></li>
                        </ul>
                    </li>
                    <li class="menu-item separator">|</li>-->
                </ul>
            </nav>	
        </div>
    </div>
</header>
<section class="page" data-hash="faq" data-structure="page">
    <h1 class="title">
        <hr class="left-hr"/><span><%=page_name%></span><hr class="right-hr"/>
    </h1>
    <div id="content" class="container">
    </div>
</section>
<footer>
    <div class="container">
        <div class="share-box">
        </div>
        <div class="social-icons">
            <style>

                </style>
            <div class="social-icons-wrapper">
                <div class="social-icon-box">
                    <a href="https://www.facebook.com/designforlifeMG" target="_blank"><i class="icon-facebook"></i></a>
                </div>
                <div class="social-icon-box">
                    <a href="https://vk.com/griszel" target="_blank"><i class="icon-vkontakte"></i></a>
                </div>
            </div>		</div>
        <div class="copyright">
            <span>Copyright 2015 &copy; All rights reserved</span> <br> <a href="mailto:vik-buchinski@ya.ru" target="_blank">site by Viktor Buchinski</a>
        </div>
    </div>
</footer>