<ul>
    <li class="menu-item <% if(tab_name == all_tabs.about) { %>active<% } %>"><a href="#home"><%=$.i18n.t("user.header.about")%></a></li>
    <li class="menu-item separator">|</li>
    <li class="menu-item <% if(tab_name == all_tabs.bouquets) { %>active<% } %>"><a href="#bouquets"><%=$.i18n.t("user.header.bukiety")%></a></li>
    <li class="menu-item separator">|</li>
    <li class="menu-item <% if(tab_name == all_tabs.decorations) { %>active<% } %>"><a href="#decorations"><%=$.i18n.t("user.header.decorations")%></a></li>
    <li class="menu-item separator">|</li>
    <li class="menu-item"><a href="#home"><%=$.i18n.t("user.header.invitations")%></a></li>
    <li class="menu-item separator">|</li>
    <li class="menu-item"><a href="#home"><%=$.i18n.t("user.header.graphics")%></a></li>
    <li class="menu-item separator">|</li>
    <li class="menu-item"><a href="#home"><%=$.i18n.t("user.header.blog")%></a></li>
    <li class="menu-item separator">|</li>
    <li class="menu-item"><a href="#home"><%=$.i18n.t("user.header.contacts")%></a></li>
    <!--<li class="menu-item active">
            <a href=""  >ANASTASIA VOLKOVA</a>
            <ul class="sub-menu">
                <li class="menu-item"><a href="http://anastasiavolkova.com/faq"  >F.A.Q.</a></li>
                <li class="menu-item active"><a href="http://anastasiavolkova.com/photoshoots"  >PHOTOSHOOTS</a></li>
                <li class="menu-item"><a href="http://anastasiavolkova.com/self-portraits"  >SELF PORTRAITS</a></li>
                <li class="menu-item"><a href="http://anastasiavolkova.com/video"  >VIDEO</a></li>
                <li class="menu-item"><a href="http://anastasiavolkova.com/film"  >FILM</a></li>
            </ul>
        </li>
        <li class="menu-item separator">|</li>-->
</ul>